* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

body {
  background-color: #aec4b3;
}


header {
  background: url("https://wallpaperaccess.com/full/2103215.jpg") center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 160px 10px;
}

header h1 {
  font-size: 3.5rem;
  color: rgb(228, 223, 223);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


nav {
  display: flex;
  justify-content:center;
  background-color: #021302c4;
}

nav a {
  color: white;
  padding: 15px;
  text-decoration: none;
}

nav a:hover {
  background-color: #555;
} 

.contacts {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}

.contacts h2 {
  text-align: center;
  color: #0d3b26;
  margin-bottom: 25px;
}

.contact-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-box {
  flex: 1;
  min-width: 250px;
  background: rgb(224, 235, 226);
  padding: 20px;
  border-radius: 10px;
}

.contact-box h3 {
  color: #0d3b26;
  margin-bottom: 15px;
}

.contact-box p {
  margin-bottom: 8px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .contact-grid {
    flex-direction: column;
  }
}