* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

body {
  background-color: #aec4b3;
}


header {
  background: url("https://wallpaperaccess.com/full/2103215.jpg") center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 160px 10px;
}

header h1 {
  font-size: 3.5rem;
  color: rgb(228, 223, 223);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
  display: flex;
  justify-content:center;
  background-color: #021302c4;
}

nav a {
  color: white;
  padding: 15px;
  text-decoration: none;
}

nav a:hover {
  background-color: #344734;
}



.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}



.left {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  background: rgb(224, 235, 226);
  border-radius: 8px;
}

.left button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  
}

.center {
  flex: 2;
  min-width: 300px;
  padding: 10px;
}

.product {
  background: rgb(224, 235, 226);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.product button {
  margin-top: 5px;
  cursor: pointer;
}
#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}


.cart-item {
  background:  rgb(224, 235, 225);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.product-box {
  background:  rgb(224, 235, 226);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.product-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
}

.controls {
  margin-top: 5px;
}

.controls button {
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: rgb(11, 105, 35);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
}

.right {
  flex: 1;
  min-width: 250px;
  padding: 10px;
}
.qty-controls {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
}

.qty-controls button {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background: #333;
  color: white;
  border-radius: 5px;
}

.qty-controls span {
  min-width: 20px;
  text-align: center;
}

.qty-controls .remove {
  margin-left: auto;
  background: rgb(143, 12, 38)
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}